    body {
      min-height: 100vh;
      display: flex;
    }

    .bg-side {
    position: relative;
    background: url('img/display.jpg') center/cover no-repeat;
    color: white;
    padding: 4rem;
    z-index: 1;
    overflow: hidden;
    }

    .bg-side::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45); 
    z-index: -1;
    }

    .form-side {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4rem 2rem;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      box-shadow: -4px 0 20px rgba(0,0,0,0.1);
      width: 100%;
    }

    .login-box {
      width: 100%;
      max-width: 380px;
    }

    .btn-dark {
      border-radius: 50px;
      padding: 0.7rem;
    }

