* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url('../img/background-about.jpg'); /* Sesuaikan dengan lokasi file */
  background-size: cover; /* Agar gambar memenuhi layar */
  background-repeat: no-repeat; /* Tidak diulang */
  background-position: center; /* Diletakkan di tengah */
  background-attachment: fixed;
  color:  #333;
  line-height: 1.6;
}

.container {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 20px;
}

.container h1 {
  color: #38352f;
  font-size: 3rem;
  text-align: center;   
}

.container h2 {
  color: #38352f;
  font-size: 2rem;
  text-align: center;   
}

.container p {
  margin-bottom: 15px;
  font-size: 1rem;
    text-align: center; 
}